<html>
<head>
	<link rel="stylesheet" href="/static/vendor/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<br>
		<h1>Hello, World!</h1>
		<p>
			This is a rust, rocket & diesel setup with handlebars & bootstrap included.
			Below are all the visits, a new one is created every time you visit this page.
			If you want to customise the message, go to <code>/your_message</code>
		</p>
		<a href="/clear" class="btn btn-danger">Clear all visits</a>
		<hr>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>IP</th>
						<th>Useragent</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					{{#each results as |r|}}
					<tr>
						<td>{{r.ip}}</td>
						<td>{{r.useragent}}</td>
						<td>{{r.msg}}</td>
					</tr>
					{{/each~}}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>


